# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# Model files
*.pt
*.pth

# Logs
*.log

# Output folders
runs/
outputs/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db